/* HEADER */

.header-head{
    min-height: 100px;
    background-color: #add8e6;
    justify-content: center;
    align-items: center;
}


.container-header{
    background-color: #daa520;
    border: 1px dashed #000;
    width: 1200px;
    height: 50px;
}


.header-links{
    flex-grow: 1;
    border: 1px dashed #000;
}

.login{
    text-align: right;
}

.logo, .login{
    width: 25%;
    border: 1px dashed #000;
}


.container-header > *{
    padding: 10px;

}

.header-links > ul {
    justify-content: center;
    gap: 10px;
}

.jumbotron{
    min-height: 500px;
    background-color: #00008b;
    justify-content: center;
    align-items: center;
}

.content{
    min-height: 400px;
    width: 700px;
    background-color: #ee82ee;
    border: 2px dashed black;
}
/* MAIN */

/* Section */


.repeated-main-section{
    min-height: 600px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.whole-card{
    min-height: 500px;
    width: 1200px;
    border: 2px dashed black;
}

.card-body-blue{
    width: 60%;
    background-color: #1e90ff;
}

.card-body-pink{
    width: 40%;
    background-color: #ffc0cb;
}


.lg-repeated-main-section{
    min-height: 1000px;
    background-color: #d3d3d3;
    justify-content: center;
    align-items: center;

}

.lg-whole-card{
    min-height: 900px;
    width: 1200px;
    border: 2px dashed black;
    background-color: #228b22;
}




/* FOOTER */

.footer-upper{
    min-height: 100px;
    background-color: #23272a;
    justify-content: center;
    
}

.footer-upper-content{
    min-height: 550px;
    background-color: #23272a;
    justify-content: center;
    align-items: flex-start;


}

.footer-main-card{
    min-height: 500px;
    width: 1200px;
    border: 2px dashed black;
    margin-top: 10px;
}

.card-body-lightred{
    width:calc(1200px / 6 * 2);
    background-color: #f08080;
    border: 2px dashed black;
}

.card-body-greenaqua{
    width: calc(1200px / 6);
    background-color: #20b2aa;
    border: 2px dashed white;
}


.footer-lower{
    min-height: 100px;
    background-color: #23272a;
    justify-content: center;
    align-items: flex-end;
    border-top: 2px solid white;
}

.container-footer{
    background-color: #7fffd4;
    width: 1200px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.little-logo{
    padding: 10px;
    height: 50px;
    background-color: #ffb6c1;
    border: 2px dashed black;
}

.little-button{
    width: 100px;
    height: 50px;
    background-color: #ffb6c1;
    border: 2px dashed black;
}