/* HEADER */

header{
    min-height: 100px;
    background-color: #add8e6;
    justify-content: center;
    align-items: center;
}


.container-header{
    background-color: #daa520;
    border: 1px dashed #000;
    width: 1200px;
    height: 50px;
}


.header-links{
    flex-grow: 1;
    border: 1px dashed #000;
}

.login{
    text-align: right;
}

.logo, .login{
    width: 25%;
    border: 1px dashed #000;
}


.container-header > *{
    padding: 10px;

}

.header-links > ul {
    justify-content: center;
    gap: 10px;
}

/* MAIN */

/* Section */

/* 1) */
.first-section{
    min-height: 500px;
    background-color: #00008b;
    justify-content: center;
    align-items: center;
}

.first-card{
    min-height: 400px;
    width: 700px;
    background-color: #ee82ee;
    border: 2px dashed black;
}

/* 2) */
.second-section{
    min-height: 600px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.second-card{
    min-height: 500px;
    width: 1200px;
    border: 2px dashed black;
}

.card-body-blue{
    width: 60%;
    background-color: #1e90ff;
}

.card-body-pink{
    width: 40%;
    background-color: #ffc0cb;
}

/* 3) */
.third-section{
    min-height: 1000px;
    background-color: #d3d3d3;
    justify-content: center;
    align-items: center;

}

.third-card{
    min-height: 900px;
    width: 1200px;
    border: 2px dashed black;
    background-color: #228b22;
}

/* 4) */

.fourth-section{
    min-height: 550px;
    background-color: #23272a;
    justify-content: center;
    align-items: flex-start;


}

.fourth-card{
    min-height: 500px;
    width: 1200px;
    border: 2px dashed black;
    margin-top: 10px;
}

.card-body-lightred{
    width:calc(1200px / 6 * 2);
    background-color: #f08080;
    border: 2px dashed black;
}

.card-body-greenaqua{
    width: calc(1200px / 6);
    background-color: #20b2aa;
    border: 2px dashed white;
}